/* Sidebar.css */
.sidebar {
  width: 250px;
  height: 100%;
  background-color: #f4f4f4; 
  color: #333;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Title */
.sidebar h2 {
  margin-bottom: 25px;
}

/* Logout */
.sidebar h3 {
  margin-top: 55px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav li {
  margin-bottom: 10px;
}

.sidebar nav a {
  color: white;
  text-decoration: none;
}

/* Layout.css */
.layout {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}

/* W3 Stuffs down here */

.w3-sidebar {
  height: 100%;
  width: fit-content;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  padding: 20px;
}

.w3-card,
.w3-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.w3-animate-left {
  position: relative;
  animation: animateleft 0.4s
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}

.w3-bar .w3-bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0
}

.w3-btn,
.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.w3-large {
  font-size: 18px !important
}

.w3-container,
.w3-panel {
  padding: 0.01em 16px
}

.w3-panel {
  margin-top: 16px;
  margin-bottom: 16px
}

.fa-icon {
  margin-right: 8px;
  color: #333; 
}