@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

body, html {
  font-family: 'Roboto', sans-serif;
}

/* Layout.css */
.layout {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
}

/* W3 Stuffs down here */

.w3-sidebar {
  width: 250px;
  height: 100%;
  width: fit-content;
  background: linear-gradient(to bottom, #6DD5FA, #FFFFFF);
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.w3-sidebar h2 {
  color: #333; 
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border: 8px;
  padding: 10px;
}

.w3-card,
.w3-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.w3-animate-left {
  position: relative;
  animation: animateleft 0.4s
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}

.w3-bar .w3-bar-item, .sidebar nav a {
  padding: 12px 16px;
  border: none;
  display: block;
  outline: 0;
  transition: background-color 0.3s, color 0.3s;
}

.w3-btn,
.w3-button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.w3-large {
  font-size: 18px !important
}

.w3-container,
.w3-panel {
  padding: 0.01em 16px
}

.w3-panel {
  margin-top: 16px;
  margin-bottom: 16px
}

.fa-icon {
  color: #4a4a4a;
  width: 30px; 
  /* text-align: center;  */
  margin-right: 10px; 
}

.sidebar-bottom {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px); 
}

.sidebar nav a:not(:last-child), .w3-sidebar .w3-bar-item:not(:last-child) {
  border-bottom: 1px solid #e1e4e8; 
}

.w3-sidebar .w3-bar-item {
  border-bottom: 1px solid #e1e4e8; 
  margin-bottom: 0; 
}


.w3-sidebar .w3-bar-item:last-child, .sidebar nav a:last-child {
  border-bottom: none;
}

.w3-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
}

.sidebar nav a:hover, .w3-bar .w3-bar-item:hover {
  background-color: #e9ecef;
  color: #007bff; 
}

.sidebar a {
  transition: color 0.2s, background-color 0.2s;
}

@media (max-width: 768px) {
  .w3-sidebar {
    width: 100%;
  }
}

ul{
  list-style: none;
  padding: 0 15px;
}
ul li{
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.w3-sidebar a, 
.w3-sidebar a:visited { 
  color: #4a90e2; 
  text-decoration: none; 
}

.w3-sidebar a:hover {
  color: #007bff; 
  text-decoration: none; 
}

.w3-sidebar a:active {
  color: #333; 
  text-decoration: none; 
}

.user-info {
  color: #4a90e2;
}