/* W3 Stuffs down here */

.sidebar {
  height: 100%;
  width: fit-content;
  background-color: #365486;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
  padding: 20px;
}

.card,
.card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.animate-left {
  position: relative;
  animation: animateleft 0.4s
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}

.bar .bar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  outline: 0
}

.btn,
.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap
}

.large {
  font-size: 18px !important
}

.w3-container,
.w3-panel {
  padding: 0.01em 16px
}

.w3-panel {
  margin-top: 16px;
  margin-bottom: 16px
}

.fa-icon {
  margin-right: 8px;
  color: #333; 
}

.sidebar-bottom {
  position: absolute;
  bottom: 20px;
  width: 100%;
}